. container {
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h3 {
  width: 226px;
  height: 38px;
  color: #171717;
  font-size: 32px;
  margin-top: 180px;
  font-family: 'HelveticaNeue';
}
p {
  width: 463px;
  height: 99px;
  color: #171717;
  font-size: 16px;
  margin-top: 60px;
  font-family: 'HelveticaNeueLTW01-55Roman';
}
p span {
    color: #0A22F4
}
img {
  width: 219px;
  height: 82px;
  object-fit: cover;
}
. circles {
   display: flex;
}
. circles span {
   width: 10px;
   height: 10px;
   display: block;
   margin: 5px;
   background-color: #0A22F4;
   opacity: 0.3;
   border-radius: 50%;
   margin-top: 180px;
}
. circles circle1 {
   opacity: 1;
}
. text{
    display: flex;
}
.logos {
    margin-top: 278px;
    display: flex;
    align-content: space-between;
}
