@font-face {
  font-family: "Helvetica Neue";
  src: url("../styles/fonts/HelveticaNeue.woff2") format("woff2"),
    url("../styles/fonts/HelveticaNeue.woff") format("woff"),
    url("../styles/fonts/helveticaneue.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue bold";
  src: url("../styles/fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../styles/fonts/HelveticaNeueBold.woff2") format("woff"),
    url("../styles/fonts/HelveticaNeueBold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
