/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.container {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
}
.box {
  background-color: #0a22f4;
  height: 270px;
  display: flex;
}
.box h3 {
  color: #ffffff;
  font-size: 32px;
  margin-top: 70px;
  margin-left: 240px;
  font-family: "Helvetica Neue";
}
.circles {
  display: flex;
  margin-top: 84px;
}
.circle-item {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
}
.circles span {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  opacity: 0.3;
}
.box .circles {
  display: flex;
  margin-left: 1185px;
  justify-content: space-around;
}
.images {
  display: flex;
  margin-top: -80px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.images img {
  position: absolute;
  width: 463px;
  height: 420px;
}
.images p {
  position: relative;
  background-color: #ffffff;
  background-size: 443px 125px;
  width: 339px;
  height: 65px;
  margin: 315px 84px 40px 40px;
  font-family: "Helvetica Neue";
}
.img2 {
  margin-top: -30px;
  border-radius: 15px;
}
.text2 {
  width: 346px;
  height: 68px;
  margin: 313px 77px 39px 40px;
  font-family: "HelveticaNeue bold";
}
.projects {
  margin-top: 70px;
  padding-left: 1519px;
  font-size: 18px;
  font-family: "Helvetica Neue";
}
